<!--    
  파일명 : Introduce.html
  설 명 : TimeSeries Sensor Data Forecasting UI 소개 화면
	최초 생성일 :     

	수정일			수정내역 
	---------   -----------------------------------------------------------------
  21.12.17    최초개발
	
-->
<div class="head">
  <i class="fab fa-microsoft"></i>
  <h3>Introduce</h3>
</div>
<div class="body">
  <div class="cards">
    <div class="card">
      <div class="order">
        <div class="quarter">
          <div class="alpha">A</div>
        </div>
      </div>
      <div class="title">데이터 준비</div>
      <div class="desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, sapiente dolore! Voluptatum dolor suscipit
        ut at, sed ipsam illum minus iste, porro inventore ipsa sunt vero officiis beatae ea aliquid!
      </div>
      <div class="detail">
        <h1>데이터 준비</h1>
        <table>
          <!-- tr 1 -->
          <tr>
            <td></td>
            <td></td>
            <td>
              <div class="one desc">
                센서 데이터 현황<br>설명
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="six desc">
                데이터 전처리<br>설명
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>
          <!-- tr2 -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="one desc-line"></div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="six desc-line"></div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- tr3 -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="one num">1</div>
              <div class="one name">센서 데이터 현황</div>
            </td>
            <td>
              <div class="six-to-one arrow">
                <i class="las la-arrow-left"></i>
              </div>
            </td>
            <td>
              <div class="six num">6</div>
              <div class="six name">데이터<br>전처리</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- tr4 -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="one-to-two arrow">
                <i class="las la-arrow-left"></i>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="five-to-six arrow">
                <i class="las la-arrow-left"></i>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- tr5 -->
          <tr>
            <td>
              <div class="two desc">
                센서 데이터 선택<br>설명
              </div>
            </td>
            <td>
              <div class="two desc-line"></div>
            </td>
            <td>
              <div class="two num">2</div>
              <div class="two name">센서 데이터 선택</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="five num">5</div>
              <div class="five name">상관관계<br>시각화</div>
            </td>
            <td>
              <div class="five desc-line"></div>
            </td>
            <td>
              <div class="five desc">
                상관관계 시각화<br>설명
              </div>
            </td>
          </tr>
          <!-- tr6 -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="two-to-three arrow">
                <i class="las la-arrows-alt-v"></i>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="four-to-five arrow">
                <i class="las la-arrow-right"></i>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- tr7 -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="three num">3</div>
              <div class="three name">데이터 탐험</div>
            </td>
            <td>
              <div class="three-to-four arrow">
                <i class="las la-arrow-right"></i>
              </div>
            </td>
            <td>
              <div class="four num">4</div>
              <div class="four name">데이터<br>로딩&프리뷰</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- tr8 -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="three desc-line"></div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="four desc-line"></div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- tr9 -->
          <tr>
            <td></td>
            <td></td>
            <td>
              <div class="three desc">데이터 탐험<br>설명</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="three desc">데이터 로딩&프리뷰<br>설명</div>
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="order">
        <div class="quarter">
          <div class="alpha">B</div>
        </div>
      </div>
      <div class="title">시계열 준비</div>
      <div class="desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis pariatur, vero officia deleniti fugit, facilis
        minima nemo quo suscipit inventore animi officiis dolorum explicabo illo ab dolore. Repellat, sint eaque.
      </div>
      <div class="detail">시계열 준비<br>상세 화면 영역</div>
    </div>
    <div class="card">
      <div class="order">
        <div class="quarter">
          <div class="alpha">C</div>
        </div>
      </div>
      <div class="title">시계열 예측</div>
      <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore fugit facere assumenda voluptates dolore,
        molestiae, fuga error quaerat nobis iusto molestias suscipit facilis cum debitis eaque aliquid nesciunt?
        Repellat, reiciendis.
      </div>
      <div class="item">
        <div class="content">
          <i class="icon-box-multi path1"></i>
        </div>
        <div class="content">
          <i class="icon-box-one"></i>
        </div>
      </div>
      <div class="detail">시계열 예측<br>상세 화면 영역</div>
    </div>
    <div class="card">
      <div class="order">
        <div class="quarter">
          <div class="alpha">D</div>
        </div>
      </div>
      <div class="title">성능 분석</div>
      <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error fugit tempore repudiandae sint voluptate delectus
        enim sed, dolore illum assumenda id itaque sapiente, necessitatibus, praesentium et aperiam corporis asperiores
        consequatur.
      </div>
      <div class="item">
        <div class="content">
          <i class="icon-pulse"></i>
        </div>
        <div class="content">
          <i class="far fa-chart-bar"></i>
        </div>
      </div>
      <div class="detail">성능 분석<br>상세 화면 영역</div>
    </div>
    <label class="circle">
      <div class="company">
        <!-- <div class="korean">(주) 아리안</div> -->
        <div class="english">alian</div>
        <div class="address">www.alian.co.kr</div>
      </div>
      <div class="squars">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
    </label>
  </div>
  <!--// .cards -->
</div>
<!--// .body -->
<script type="text/javascript" defer>
  $(document).ready(function () {
    // 가운데 동그라미 "Alian"에 마우스 오버 했을 때의 처리 이벤트
    $('#introduce .square:nth-child(1)').hover(function () {
        $('#introduce .card:nth-child(1)').css({
          'background': 'rgba(169, 169, 169, 0.123)'
        });
      },
      function () {
        $('#introduce .card:nth-child(1)').css({
          'background': 'var(--color-white)'
        });
      });

    $('#introduce .square:nth-child(2)').hover(function () {
        $('#introduce .card:nth-child(2)').css({
          'background': 'rgba(169, 169, 169, 0.123)'
        });
      },
      function () {
        $('#introduce .card:nth-child(2)').css({
          'background': 'var(--color-white)'
        });
      });

    $('#introduce .square:nth-child(3)').hover(function () {
        $('#introduce .card:nth-child(3)').css({
          'background': 'rgba(169, 169, 169, 0.123)'
        });
      },
      function () {
        $('#introduce .card:nth-child(3)').css({
          'background': 'var(--color-white)'
        });
      });

    $('#introduce .square:nth-child(4)').hover(function () {
        $('#introduce .card:nth-child(4)').css({
          'background': 'rgba(169, 169, 169, 0.123)'
        });
      },
      function () {
        $('#introduce .card:nth-child(4)').css({
          'background': 'var(--color-white)'
        });
      });
  });
</script>